.bg-img{
    background-image: url("shop.jpg");
    height: 100vh;
    background-size: cover;
}
.v{
color: blueviolet;

}

.m{
    text-align: center;
    color:aqua;
    margin: 0px auto;
    font-style: italic;
    background-color: blueviolet;
    padding: 20px;
    border-bottom-left-radius:30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size:30px;
}
.img{
height: 80px;
width: 80px;
}
.bg-container{
margin: 15px;
background-color: aquamarine;
padding: 50px;
}
.head2
{
text-align: left; 
}
.btn2{
    border-radius: 10px;
}
.btn3{
 border-radius: 7px;
 margin-left: 500px;

}
